.main-content {
    width: 100%;
    padding: 2rem;
    box-sizing: border-box;
    overflow-y: auto;
    height: 92vh;
    font-size: 1.2rem;
}

section {
  margin-bottom: 1.5rem;
}

h2 {
    color: #2c3e50;
    margin: 0;
    font-size: 1.6rem;
}
  